mat-grid-tile {
  background: lightblue;
}

table {
  width: 100%;
}

.table-container {
  display: block;
  position: absolute;
  top: 70px;
  left: 8px;
  right: 8px;
  bottom: 0px;
  overflow: auto;
}

tr.table-row:hover {
  background: #f5f5f5;
}
